@model IEnumerable<SevkiyatStokTakipSistemi.Models.Sevkiyat>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DurumBildir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeslimAlcakKisi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeslimKisiTelNo)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.SevkYuklemeyiyapanKisi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YuklemeYardimi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DurumBildir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeslimAlcakKisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeslimKisiTelNo)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.SevkYuklemeyiyapanKisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YuklemeYardimi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SevkiyatId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SevkiyatId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SevkiyatId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
